.search-column{
    background-color: #CFEEFA;
    float: right;
}

.list-group-item{
    line-height: 0.5;
    border: none;
}

.card-body{
    flex:auto
}

/* Colour code weather conditions */

span.severe{
    padding: 3px;
    background-color: red;
    color:white;
}

span.moderate{
    padding: 3px;
    background-color: yellow;
}

span.favorable{
    padding: 3px;
    background-color: green;
    color:white;
}